[user]
	name = DESKTOP-0SRFR83\\ayome
	email = andreas.kuhn@bluewin.ch
[difftool "sourcetree"]
	cmd = "'' "
[mergetool "sourcetree"]
	cmd = "'' "
	trustExitCode = true
[core]
	symlinks = true
[credential]
	helper = "!f() { /home/exercism/.vscode-server/bin/7d842fb85a0275a4a8e4d7e040d2625abbf7f084/node /tmp/vscode-remote-containers-9fded6ce-f63e-4c6f-a59d-0c0b9ddaf045.js git-credential-helper $*; }; f"
