[user]
	name = DESKTOP-0SRFR83\\ayome
	email = andreas.kuhn@bluewin.ch
[difftool "sourcetree"]
	cmd = "'' "
[mergetool "sourcetree"]
	cmd = "'' "
	trustExitCode = true
[core]
	symlinks = true
[credential]
	helper = "!f() { /home/exercism/.vscode-server/bin/7d842fb85a0275a4a8e4d7e040d2625abbf7f084/node /tmp/vscode-remote-containers-1b51642e-7a99-433f-af3e-1b69d0745a91.js git-credential-helper $*; }; f"
